<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=testeblobstorage;AccountKey=FBp9+uWyc5tyoBo0ZJokQ2lLE/FUpIeGkIJPcT56BlzUMMT+pTdIkl1hKLFTKPYoepIraqkq7hwN4/6WWYsQ6Q=="/>
  </appSettings>
</configuration>